.divReactElement1 {
    border: none;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    background-color: rgb(59, 235, 126);
    padding: 10px;
    margin-right: 30px;
    box-shadow: 5px 5px 10px;
    /* transform: translate(500px, 100px); */
    margin-top: 20px;
  }
  .divReactElement2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imageElement {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
  }
  #buttonElement {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }